:root{
    --rede-speed: {$rede-speed};
}

@keyframes right-to-left{
    0%{
       transform: translateX(3rem) scale(0.45);
       opacity:0;
    }

    70%{
       transform:translateX(3rem) scale(0.45);
       opacity:0;
    }/* 感觉差一帧，补一下 */

    100%{
       transform:translateX(0) scale(0.7) rotate(45deg);
       opacity:1;
    }
}

@keyframes top-to-bottom{
    0%{
       transform:translateY(-3rem) rotate(30deg) scale(0.8);
       opacity:0;
    }

    85%{
       transform:translateY(-3rem) rotate(30deg) scale(0.8);
       opacity:0;
    }

    100%{
       transform:translateY(0) rotate(0deg) scale(1);
       opacity:1;
    }
}

@keyframes opacity{
    0%{
       opacity:0;
    }

    70%{
       opacity:0;
    }

    100%{
       opacity:1;
    }
}

@keyframes bottom-to-top{
    0%{
       transform:translateY(1rem) rotate(30deg) scale(0.8);
       opacity:0;
    }

    85%{
       transform:translateY(1rem) rotate(30deg) scale(0.8);
       opacity:0;
    }

    100%{
       transform:translateY(0) rotate(0) scale(1);
       opacity:1;
    }
}

@keyframes oblique-entry{
    0%{
       transform:translateY(-10rem) translateX(3rem);
       opacity:0;
    }

    80%{
       transform:translateY(-10rem) translateX(3rem);
       opacity:0;
    }

    100%{
       transform:translateY(0rem) translateX(0rem);
       opacity:1;
    }
}

.rede-wrapper,
.rede-wrapper *{
    animation-fill-mode: forwards;
}

.rede-wrapper{
    animation: fade-In calc(1s / var(--rede-speed));
}

.rede-iets-wrapper{
    animation: right-to-left calc(2s / var(--rede-speed));
}

.rede-iets-wrapper *{
    animation: opacity calc(3s / var(--rede-speed));
}

.rede-numloc{
    animation: top-to-bottom calc(3s / var(--rede-speed));
}

.rede-class-wrapper{
    animation: bottom-to-top calc(3s / var(--rede-speed));
}



.rede-iets-font{
    animation: oblique-entry calc(4s / var(--rede-speed));
}

:is(.rede-numloc, .rede-class-wrapper, .class-logo) *:not([class*=border]),
.class-logo{
    animation: opacity calc(4.5s / var(--rede-speed));
}

.bottom-container .collapsible-block{
    animation: opacity calc(5s / var(--rede-speed));
}
