@media only screen and (min-width: 1440px) {
    :root {
        --rede-base-size: 7.5rem;
        --rede-base-size-abs: -6rem;
        --rede-base-collapsible-bottom-size: 1rem;
        --rede-gap-pd: 1rem;
        --rede-numloc-font: 1.2rem;
        --rede-class-font: 1.5rem;
    }

    .rede-iets-wrapper {
        font-size: 2.5rem;
    }

}

@media only screen and (min-width: 2150px){
    .rede-iets-font{
        bottom: calc(var(--rede-iets-font-position) - 0.5vw);
    }
}

@media only screen and (min-width: 2500px){
    .rede-iets-font{
        bottom: calc(var(--rede-iets-font-position) - 1vw);
    }
}

@media only screen and (min-width: 3000px){
    .rede-iets-font{
        bottom: calc(var(--rede-iets-font-position) - 1.5vw);
    }
}

@media only screen and (min-width: 3800px){
    .rede-iets-font{
        bottom: calc(var(--rede-iets-font-position) - 2vw);
    }
}
