@media only screen and (max-width: 590px){
  :root:has(.property-container :is([class*=range],[class*=properties],[class*=attitude]):is(:hover, :active, :focus, :focus-within)){
     --rede-properties-info-specific: var(--rede-collapsible-size) + var(--rede-properties-pd) * 2;
  }
 
  .tag-information{
      width: calc(100% + var(--rede-properties-pd) * 2 - var(--rede-border-size) - 1px);
      height: calc(var(--rede-properties-info-specific));
      left: calc(var(--rede-properties-pd-abs) * 2 + var(--rede-border-size) + var(--rede-border-size-sm));
      top: calc(100% + var(--rede-border-size) * 2);
      border: 0.2rem solid rgba(var(--rede-light-background), 0.6);
      border-top: none;
      font-size: 0.65rem;
  }

  .tag-information *{
      margin-top: 1rem;
      text-align: center;
  }

  .tag-information::after{display: none;}
  /* 懒得操作了 直接换元素 */
  .tag-information::before{
      background-color: rgba(var(--rede-light-background), 0.6);
      width: var(--rede-properties-information-mobile-size);
      height: var(--rede-properties-information-mobile-h);
      content: var(--rede-properties-content);
      font-size: 0.7rem;
      text-align: center;
      position: absolute;
      left: calc((100% - var(--rede-properties-information-mobile-size)) / 2);
  }


  @keyframes information-enter{
     0%{
       transform: translateY(3rem);
       opacity:0;
       display: none;
     }

    100%{
       transform:translateY(0);
       opacity:1;
       display: block;
    }
  }

  @supports not selector(:has(a)) {
      :root{
           --rede-properties-info-specific: var(--rede-collapsible-size) + var(--rede-properties-pd) * 2;
      }
  }
}

@media only screen and (max-width: 470px) {
  :root{
       --rede-tag-scale: 0.75;
       --rede-tag-margin: 0;
   }

  .rede-class *{
      font-size: 0.6rem;
  }

  .bottom-container .collapsible-block-folded,
  .bottom-container .collapsible-block-unfolded-link{
      width: 90%;
  }
}

@media only screen and (max-width: 360px){
  :root{
      --rede-base-size-abs: -2rem;
  }
}

@media only screen and (max-width: 310px) {
   .rede-numloc :is(div,span){
       white-space: normal;
   }
}
