@keyframes progress-custom-1 {
       from{
                width: 0%;
       }
       to{
                width: calc(25% - var(--rede-border-size-sm));
                background-color: var(--L-custom-1);
       }
}

@keyframes progress-custom-2 {
       0% {
                width: 0%;
       }
       50% {
                width: calc(25% - var(--rede-border-size-sm));
                background-color: var(--L-custom-1);
       }
       100% {
                width: calc(50% - var(--rede-border-size-sm));
                background-color: var(--L-custom-2);
       }
}

@keyframes progress-custom-3 {
       0% {
                width: 0%;
       }
       33.3% {
                width: calc(25% - var(--rede-border-size-sm));
                background-color: var(--L-custom-1);
       }
       66.6% {
                width: calc(50% - var(--rede-border-size-sm));
                background-color: var(--L-custom-2);
       }
       100% {
                width: calc(75% - var(--rede-border-size-sm));
                background-color: var(--L-custom-3);
       }
}

@keyframes progress-custom-4 {
       0% {
                width: 0%;
       }
       25% {
                width: calc(25% - var(--rede-border-size-sm));
                background-color: var(--L-custom-1);
       }
       50% {
                width: calc(50% - var(--rede-border-size-sm));
                background-color: var(--L-custom-2);
       }
       75% {
                width: calc(75% - var(--rede-border-size-sm));
                background-color: var(--L-custom-3);
       }
       100% {
                width: 100%;
                background-color: var(--L-custom-4);
       }
}


@keyframes progress-custom-5{
       0%{
                width: 0%;
       }
       25%{
                width: calc(25% - var(--rede-border-size-sm));
                background-color: var(--L-custom-1);
       }
       50%{
                width: calc(50% - var(--rede-border-size-sm));
                background-color: var(--L-custom-2);
       }
       75%{
                width: calc(75% - var(--rede-border-size-sm));
                background-color: var(--L-custom-3);
       }
       100%{
                width: 100%;
                background-color: var(--L-custom-4);
       }
}

@keyframes progress-custom-last{
       from{
                width: 0%;
                background-color: var(--L-custom-5);
       }
       to{
                width: 100%;
                background-color: var(--L-custom-5);
       }
}
