.progress-container{
    border: var(--outline-border);
    width: 100%;
    height: var(--rede-collapsible-size);
    display: flex;
    position: relative;
}

.progress-container .bar {
       border-right: var(--inner-border);
       width: calc(25% - var(--rede-border-size-sm));
       height: 100%;
       position: relative;
       z-index: 2;
       background: transparent;
}

.progress-container .bar:nth-of-type(4) {
       border: none;
}

.progress-container::before,
.progress-container::after {
       content: '';
       position: absolute;
       top: 50%;
       transform: translateY(-50%); 
       width: 4px;
       height: 80%; 
       background-color: rgb(var(--rede-light-background));
}

.progress-container::before {
       left: calc(-0.2rem - 4px / 2);
 }

.progress-container::after {
       right: calc(-0.2rem - 4px / 2);
}
