.progress-container.ture .bar-container {
       animation: progress-custom-1 calc(1.5s * 1) linear forwards;
}

.progress-container.ture .bar-container {
       animation: progress-custom-{$class} calc(1.5s * {$class}) linear forwards;
}

.progress-container.ture .bar-container-5 {
       animation: progress-custom-last 3.5s linear forwards;
}
