:root{
        --Gemini-img: var(--gemini-img);
        --Galaxias-img: var(--galaxias-img);
        --King-img: var(--king-img);
        --Mega-img: var(--mega-img);
        --Legions-img: var(--legions-img); 
        --Unknown-img: var(--unknown-img);  
}
