.tag-information::after{
    position: absolute;
    inset: 0;
    color: rgb(var(--rede-light-text));
    content: var(--rede-properties-content);
    font-size: 11px;
    width: calc(100% - var(--rede-border-size) * 2);
    background: rgba(var(--rede-light-background), 0.6);
    height: var(--rede-properties-information-size);
    text-align: center;
    font-weight: bold;
}
