.class-logo {
    height: 100%;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    clip-path: var(--rede-logo-clip);
    background-color: rgb(var(--rede-light-text));
    margin-left: calc(var(--rede-base-size-abs));
    position: relative;
    right: calc(var(--rede-gap-pd) + (var(--rede-base-size)));
    z-index: 2;
}

.class-logo-inner{
    -webkit-mask-mode: luminance;
    -webkit-mask-size: contain;
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-mode: alpha;
    mask-size: contain;
    mask-position: center;
    mask-repeat: no-repeat;
    position: absolute;
    z-index: 3;
    background: var(--rede-mask-color);
    width: 100%;
    height: 100%;
}
