.property-container :is([class*=range],[class*=properties],[class*=attitude]) {
    background: rgb(var(--rede-light-background));
    color: rgba(var(--rede-properties-color));
    margin: var(--rede-tag-margin);
    width: var(--rede-properties-size);
    text-align: center;
    height: var(--rede-properties-h);
    padding: 0.1rem;
    border-radius: 5px 120px / 120px;
    text-decoration: none;
    transition: background 0.5s, transform 0.5s, color 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    display: none;
    transform: scale(var(--rede-tag-scale));
}

.attitude-tag,.range-tag,.properties-tag{
    border: 0.25rem solid rgba(var(--properties-border),0.3);
}

.attitude-tag{--properties-border: 255,0,0;}
.range-tag{--properties-border:255,165,0;}
.properties-tag{--properties-border: 255,255,255;}
