.rede-class-wrapper {
    grid-column: 1 / 3;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-right: calc(var(--rede-tc-margin));
    font-size: calc(var(--rede-tc-font));
    font-weight: 900;
    color: rgb(var(--rede-light-text));
    background-color: rgb(var(--rede-light-background));
    clip-path: var(--rede-class-clip);
    transform-origin:0 0;
    position: relative;
    border: var(--rede-container-border);
    box-shadow: 0 0 1rem rgb(var(--rede-shadow));
}

.rede-class-wrapper .rede-class {
    flex-grow: 1;
    margin: 1rem 0 1rem calc((var(--rede-base-size)) / 2 + 0.65rem);
    padding-left: var(--rede-border-size-sm);
    font-size: calc(var(--rede-class-font));
}

.rede-class *{
    text-transform: capitalize;
}
