.rede-numloc {
    grid-column: 1 / 3;
    margin-right: calc(0.5vw - (var(--rede-base-size)));
    padding: 1rem calc(var(--rede-base-size));
    display: flex;
    align-items: center;
    color: rgb(var(--rede-light-text));
    background-color: rgb(var(--rede-light-background));
    font-size: calc(var(--rede-numloc-font));
    font-weight: 900;
    clip-path: var(--rede-num-clip);
    transform-origin: right top;
}

.rede-numloc div span:nth-of-type(2){
    position: relative;
    left: calc((var(--rede-base-size-abs)) / 2);
}

.rede-numloc :is(div,span){
    width: 100%;
    white-space: nowrap;
}
